# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Java
*.class
*.jar
*.war

# Spring Boot HELP.md

# Logs
*.log

# Environment files
.env
application-local.properties
application-dev.properties

# IDE - IntelliJ
.idea
**/.idea/
.iws
*.iml
*.ipr

# IDE - Eclipse / STS
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache
.apt_generated

# IDE - VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db

# Build folders
build/
!**/src/main/**/build/
!**/src/test/**/build/